/* General */
body {
  /* background-color: #312f30;
  color: #ffffff; */
  background:url('../../assets/img/background.jpg') no-repeat center/cover;

 
  color: #000;
  font-family: 'Oswald';
}

footer {
  font-family: 'Oswald';
}

a {
  color: #ff6600 !important;
}

p {
  font-weight: 300;
  
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0;
}

img {
  z-index: 0 !important;
}

.container {
  background-color: #ebebeb;
  padding: 30px 15px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input {
  width: 100%;
  margin-bottom: 35px;
}
hr {
  height: 0 !important;
  margin: 1.5em 0 !important;
  border: 0 !important;
  border-top: 2px solid #e5e5e5 !important;
}

/*  */
.page-id-385 .google-ad {
  display: none !important;
}

/* Partners/Sponsors */
.page-id-437 .google-ad {
  display: none !important;
}

/* Though Dog */
.page-id-594  .google-ad {
  display: none !important;
}

/* GME */
.page-id-635  .google-ad {
  display: none !important;
}

.bg-yellow {
  background-color: hsl(54, 96%, 52%);
}

.bg-white {
  background-color: #ffffff;
  color: rgb(104,104,104);
}

.bg-grey {
  background-color: #58585a;
}

.text-orange {
  color: #ff6600;
}

.text-white {
  color: #ffffff;
}

.text-white {
  color: #ffffff;;
}

h4 {
  color: #ff6600 !important;
}

.btn-orange {
  background-color: #ff6600;
  color: #ffffff;
}


/* Hero Slider */
.slick-track {
}
.slick-slide {
  margin: 0px !important;
}

.hero-circle {
  color: #000 !important;
  opacity: 0.4;
}

.hero-circle:hover {
  opacity: 1;
}

.arrow-right{
  cursor: pointer;
  position: absolute !important;
  top: 16%;
  left: 95%;
  z-index: 5;
}

.fa-chevron-right {
  top: -2px;
}

.arrow-left {
  cursor: pointer;
  position: absolute !important;
  z-index: 5;
  left: 1%;
  top: 16%;
}

.fa-chevron-left {
  top: -2px;
}

.slick-list.draggable {
  overflow: hidden;
}

.hero-slider {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease
}

.hero-slider.slick-initialized {
  visibility: visible;
  opacity: 1;
}

@media(max-width: 767px) {
  .hero-circle {
    display: none !important;
  }
}

@media(min-width: 768px) {
  .hero-circle {
    top: 8%;
  }

  .arrow-right{
    left: 90%;
  }
}

@media(min-width: 1200px) {
  .hero-circle {
    top: 10%;
  }
  .arrow-right{
    left: 95%;
  }
}

@media(min-width: 1800px) {
  .hero-circle {
    top: 17%;
  }
}

/* Parralax */
.parallax-hk{  
  background-image: url("https://offroadadventureshow.com.au/wp-content/uploads/2019/11/HK_Display-2.jpg");
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-td {  
  background-image: url("http://oras.parableproductions.com.au/wp-content/uploads/2019/10/Screen-Shot-2016-09-29-at-9.57.00-PM.png");
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-gme {  
  background-image: url("http://oras.parableproductions.com.au/wp-content/uploads/2019/10/GME_Sponsors_main.jpg");
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-partners {  
  background-image: url("http://oras.parableproductions.com.au/wp-content/uploads/2019/10/scratched_metal.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
   
  .parallax-content { 
  width:50%;
  margin:0 auto;
  color:#FFF;
  padding-top:50px; 
  } 

  /* Extra small devices (portrait phones)*/
  @media (max-width: 575px) {
    .td-logo {
      position: absolute;
      top: 180px;
      right: 30px;
      width: 95%;
     }
}


/* Small devices (landscape phones) */
@media (min-width: 576px) {
  .td-logo {
    position: absolute;
    top: 180px;
    right: 30px;
    width: 90%;
   }
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .td-logo {
    position: absolute;
    top: 165px;
    right: 50px;
    width: 60%;
   }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .td-logo {
      position: absolute;
      top: 230px;
      right: -25px;
      width: 50%;
    }

}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
 .td-logo {
   position: absolute;
   top: 300px;
   right: 100px;
   width: 35%;
  }
}

@media (min-width: 1800px) {
  .td-logo {
    position: absolute;
    top: 400px;
    right: 375px;
    width: 35%;
   }
 }

 /* GME LOGOG */
   /* Extra small devices (portrait phones)*/
   @media (max-width: 575px) {
    .gme-logo {
      position: absolute;
      top: 180px;
      right: 30px;
      width: 95%;
     }
}


/* Small devices (landscape phones) */
@media (min-width: 576px) {
  .gme-logo {
    position: absolute;
    top: 180px;
    right: 50px;
    width: 90%;
   }
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .gme-logo {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 60%;
   }
}

 /* Large devices (desktops) */
@media (min-width: 992px) {
  .gme-logo {
    position: absolute;
    top: 250px;
    left: 550px;
    width: 50%;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .gme-logo {
    position: absolute;
    top: 300px;
    left: 700px;
    width: 35%;
  }
 }

@media (min-width: 1800px) {
  .gme-logo {
    position: absolute;
    top: 530px;
    left: 700px;
    width: 25%;
  }
 }

/* Button */
.btn-subscribe {
  background-color: #aaa; !important;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 15px;
  margin: 0 5px 10px 0;
}

.opacity:hover{
  transition: 300ms;
    opacity: 0.7;
}

/* === FONTS === */

h1 {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-med {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/* Navigation */
/* Header */
#ubermenu-nav-main-2-menu-1 {
  font-size: 15px !important;
}
.ubermenu-skin-black-white-2 .ubermenu-item-level-0 > .ubermenu-target {
  font-weight: 300 !important;
  color: #ffffff !important;
}

.ubermenu .ubermenu-item.ubermenu-item-level-0 {
  color: #ffffff !important;
  letter-spacing: 1px;
  font-weight: normal!important;
  font-style: normal!important;
}

a.ubermenu-target.ubermenu-item-layout-default.ubermenu-item-layout-text_only:hover {
text-decoration: underline !important;
  color: #ff6600 !important;
}

.ubermenu .ubermenu-item-layout-image_above>.ubermenu-image {
  margin-bottom: 0px !important;
}
.ubermenu-target-title:hover {
  text-decoration: underline !important;
  color: #ff6600 !important;
}

.ubermenu-target-title .ubermenu-target-text:hover {
  color: #ff6600 !important;
}

.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target {
  color: #ff6600 !important;
}

.ubermenu-skin-black-white-2 .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target {
  background-color: inherit !important;
}

/* Subemenu */
.ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-full_width {
  width: 10% !important;
}

.ubermenu-bound .ubermenu-submenu-type-mega {
  min-width: 10% !important;
}

.main-navigation li {
  margin-left: 10px;
}

.ubermenu-skin-black-white-2 .ubermenu-submenu .ubermenu-target > .ubermenu-target-description {
  display: none !important;
}

/* Footer */
footer .container {
  background-color: #333333;
}
.menu-footer-menu-container a:hover {
  color: rgb(104,104,104) !important;
}

.menu-footer-menu-container {
  font-size: 11px !important;
}

.all-rights {
  font-size: 11px !important ;
}

/* Social Media */
  /* Footer */
.social-media {
  font-size: 11px;
  line-height: 1.3;
}

.fab {
  color: #ffffff;
}

.circle-facebook {
  color: #5c5c5c !important;
}

.circle-facebook:hover {
  color: #3b5998 !important;
}

.fa-facebook-square {
  top: -2px;
}

.circle-youtube {
  color: #5c5c5c !important;
}

.circle-youtube:hover {
  color: #c4302b !important;
}

.fa-youtube {
  top: -2px;
}

.circle-vimeo {
  color: #5c5c5c !important;
}

.circle-vimeo:hover {
  color: #1ab7ea !important;
}

.fa-vimeo-square {
  top: -2px;
}

.circle-instagram {
  color: #5c5c5c !important;
}

.circle-instagram:hover {
  color: #c13584 !important;
}

.fa-instagram {
  top: -2px;
}

.share-post {
  color: #ff6600 !important;
  padding: 14px;

}

.share-post:hover {
  color: #ffffff !important;
  background-color: #ff6600 !important;
  padding: 14px;

}

/* Footer */
table.myclass td { — }

.bg-footer {
  background-color: #333333;
}

nav a {
  display: inline;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 1;
  color: #ffffff !important;
  font-family: 'liberatorregular'!important;
  font-weight: normal!important;
  font-style: normal!important;
  text-decoration: none;
}

/* Slider */
.slick-slide {
  margin: 10px;
}

/* Pagination */
.wp-pagenavi a, .wp-pagenavi span {
  text-decoration: none;
  border: 0px !important;
  padding: 3px 5px;
  margin: 2px;
  color: #000 !important;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
  color: #ff6600 !important;
}

/* Sponsors*/
.wp-block-separator {
  color: #ff6600 !important;
  border-top: 4px solid #ff6600; !important;
}

/*  */
.white-container {
  border: 2px solid #e5e5e5;
  padding: 2.5%;
  background-color: #fff;
}

/* Insurance */
.insurance-bg { 
  background: url("http://oras.parableproductions.com.au/wp-content/uploads/2019/10/4x4-bg.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.insurance-circle {
  color: hsl(38, 100%, 50%) !important;
}

.fa-map-signs {
  color: #ffffff !important;
}

.insurance-title {
  color: hsl(38, 100%, 50%) !important;
  font-weight: 700;
 font-size: 19px;
}

table.wp-block-table td {
  padding-right: 1em;
}

.mandatory-field {
  color: rgb(221, 54, 42);
}

/* Fishing */
.bg-fishing { 
  background: url(http://oras.parableproductions.com.au/wp-content/uploads/2019/10/Summer_Series_Tassie-20.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-share {
  margin: 8px 0 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(104,104,104);
}

.fa-plus-hexagon, .fa-info-circle {
  color: hsl(56, 96%, 48%);;
}

body .vp-center {
  height: 80% !important;
}

.circle-green {
  color: #2ecc71;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: #ff6600;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 0.7;
}

.content-image {
  width: 100%;
}

.content-icon {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-icon {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-icon {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.edit-link {
  display: none;
}

/* COMPETITION */
.competition-card {
  border: 0 !important;
}

/* Newsletter Sign Up */
#subForm h6 {
  color: #fff;
}